body.theme-light {
  /* --bases-card-bg: var(--background-primary); */
  --bases-card-bg: color-mix(in srgb, var(--background-primary) 93%, #c8b49a 7%);
}

body.theme-dark {
  --bases-card-bg: color-mix(in srgb, var(--background-primary) 89%, #272521 11%);
}

.bases-view[data-view-type="cards"] .bases-cards-item {
  background: var(--bases-card-bg);
}

.bases-view span.internal-link, .bases-view div.internal-link {
  text-decoration: none;
}
