body.theme-light {
  --bases-card-bg: color-mix(in srgb, var(--background-primary) 93%, var(--ant-greige) 7%);
}

body.theme-dark {
  --bases-card-bg: color-mix(in srgb, var(--background-primary) 89%, var(--ant-surface-dark-2) 11%);
}

.bases-view[data-view-type="cards"] .bases-cards-item {
  background: var(--bases-card-bg);
}

.bases-view span.internal-link, .bases-view div.internal-link {
  text-decoration: none;
}

.obsidian-app {
  --bases-table-row-height: var(--size-4-6);
  --bases-table-column-border-width: 0;
  --bases-table-header-icon-display: none;
}




/* Aanpassingen toolbar obsidian bases */

.bases-header {
  --bases-header-height: 30px;
  --bases-toolbar-label-display: none;
}

.bases-toolbar .text-icon-button {
  font-size: 0.8em;
}

.bases-toolbar .text-icon-button svg {
  width: 15px;
  height: 15px;
}


.baseklein .bases-header{
  display: none;
}


