.rotest {
    --file-line-width: 1000px;
    --line-height-normal: 1.4;
    --p-spacing: 0.8rem;
    --list-spacing: 0.1em;
    --heading-spacing: calc(var(--p-spacing) * 2.3);
    --file-folding-offset: 16px;
    --h2-size: 1.25em;
    --tag-padding-x: 0.4em;
    --tag-padding-y: 0.2em;
    --tag-radius: 0.3em;
    --tag-size: 0.8em;
    --link-decoration: none;
    --link-weight: 600;
}


.rodata {
    --line-height-normal: 1.3;
    --font-text-size: 14px;
}

.breed {
    --file-line-width: 1000px;
    --table-text-size: 0.8em;
}

.theme-light .breed {
--table-row-alt-background: #fcfcfc;
}

.theme-light .breed table tbody tr:nth-child(7n) td{
  border-bottom: 2px solid #333;
}

.theme-dark .breed {
  --table-row-alt-background: #272626; /* or another dark shade */
}

.theme-dark .breed table tbody tr:nth-child(7n) td {
  border-bottom: 2px solid #ccc; /* lighter border for contrast on dark background */
}
