
.rodata {
    --line-height-normal: 1.3;
    --font-text-size: 14px;
}

.breed {
    --file-line-width: 900px;
    --table-text-size: 0.9rem;
}

.theme-light .breed {
  --table-row-alt-background: #fcfcfc;
}

.theme-dark .breed {
  --table-row-alt-background: #272626; /* or another dark shade */
}


.kleiner {
    --line-height-normal: 1.3;
    --font-text-size: 14px;
}

.groter {
    --line-height-normal: 1.6;
    --font-text-size: 18px;
}