.kleur {
    --h1-color: var(--text-accent);
    --h2-color: var(--text-accent);
    --h3-color: var(--text-muted);
    --h4-color: var(--text-muted);
    --h5-color: var(--text-muted);
    --h6-color: var(--text-muted);
}

/* Reading modus */
.kleur h1,
.kleur h2 {
    background-color: var(--ant-surface-1);
    padding: 0.2em 0.5em;
    border-radius: 4px;
}

.kleur h3,
.kleur h4,
.kleur h5,
.kleur h6 {
    background-color: var(--ant-surface-1);
    padding: 0.2em 0.5em;
}

/* Dark Theme - Reading modus */
.theme-dark .kleur h1,
.theme-dark .kleur h2 {
    background-color: var(--ant-surface-dark-1);   /* --ant-background-secondary-alt */
}

.theme-dark .kleur h3,
.theme-dark .kleur h4,
.theme-dark .kleur h5,
.theme-dark .kleur h6 {
    background-color: var(--ant-surface-dark-1);
}

/* Dark Theme - Live Preview modus */
.theme-dark .kleur.markdown-source-view.mod-cm6 .cm-line:has(.cm-header-1),
.theme-dark .kleur.markdown-source-view.mod-cm6 .cm-line:has(.cm-header-2) {
    background-color: var(--ant-surface-dark-1);
}

.theme-dark .kleur.markdown-source-view.mod-cm6 .cm-line:has(.cm-header-3),
.theme-dark .kleur.markdown-source-view.mod-cm6 .cm-line:has(.cm-header-4),
.theme-dark .kleur.markdown-source-view.mod-cm6 .cm-line:has(.cm-header-5),
.theme-dark .kleur.markdown-source-view.mod-cm6 .cm-line:has(.cm-header-6) {
    background-color: var(--ant-surface-dark-1);
}

/* Live Preview modus */

.kleur.markdown-source-view.mod-cm6 .cm-line:has(.cm-header-1),
.kleur.markdown-source-view.mod-cm6 .cm-line:has(.cm-header-2) {
    background-color: var(--ant-surface-1);
    padding: 0.2em 0.5em;
}

.kleur.markdown-source-view.mod-cm6 .cm-line:has(.cm-header-3),
.kleur.markdown-source-view.mod-cm6 .cm-line:has(.cm-header-4),
.kleur.markdown-source-view.mod-cm6 .cm-line:has(.cm-header-5),
.kleur.markdown-source-view.mod-cm6 .cm-line:has(.cm-header-6) {
    background-color: var(--ant-surface-1);
    padding: 0.2em 0.5em;
}